language: node_js
notifications:
  email:
    - skelly@skellyjs.com
node_js:
  - '0.12'
  - 'node' # latest
sudo: required # needed for mongodb
services: mongodb
before_script:
  - sleep 15
  - mongo skelly --eval 'db.createUser({user:"skelly", pwd:"test",roles:["readWrite"]});'
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"