{% extends 'layouts/main.html' %}

{% set pageTitle = "" %}

{% block stylesheets %}
	{% parent %}
	{# insert page-specific script here #}
	<link rel="stylesheet" href="/stylesheets/{{'index.min.css'|hash}}">
	<link rel="shortcut icon" href="/images/{{'favicon.ico'|hash}}" />
{% endblock stylesheets %}

{% block content %}
<h1>{{title}}</h1>
<img src="/images/{{'shelby.jpg'|hash}}" />
<p>Current date is {{_now()|date('F jS, Y')}}</p>
{% endblock content %}

{% block javascripts %}
	{% parent %}
	{# insert page-specific script here #}
	<script src="/javascripts/{{'index.min.js'|hash}}"></script>
{% endblock javascripts %}
